[submodule "catppuccin/btop"]
	path = catppuccin/btop
	url = https://github.com/catppuccin/btop.git

[submodule "catppuccin/delta"]
	path = catppuccin/delta
	url = https://github.com/catppuccin/delta.git

[submodule "catppuccin/fzf"]
	path = catppuccin/fzf
	url = https://github.com/catppuccin/fzf.git

[submodule "catppuccin/micro"]
	path = catppuccin/micro
	url = https://github.com/catppuccin/micro.git

[submodule "git/gitignore"]
	path = git/gitignore
	url = https://github.com/github/gitignore.git
