.ssh/keys/

.vscode/globalStorage/
.vscode/History/
.vscode/sync/
.vscode/workspaceStorage/

asciinema/install-id

fish/conf.d/secrets.fish
fish/fisher/

micro/backups/
micro/buffers/

zed/embeddings/
zed/prompts/
