.ssh/*/config
.ssh/authorized_keys
.ssh/id_*

catppuccin/*/*

fish/fisher/

git/gitignore/*

go/telemetry/

homebrew/trust.json.lock
systemd/user/**/homebrew.*

micro/backups/
micro/buffers/
micro/palettero.cfg
micro/plug/

raycast/

zed/prompts/
