[submodule "catppuccin/bat"]
	path = catppuccin/bat
	url = https://github.com/catppuccin/bat.git

[submodule "catppuccin/delta"]
	path = catppuccin/delta
	url = https://github.com/catppuccin/delta.git
